[submodule "mbf-benchmark"]
	path = mbf-benchmark
	url = git@github.com:BU-DiSC/mbf-benchmark.git
[submodule "rocksdb-mbf"]
	path = rocksdb-mbf
	url = git@github.com:BU-DiSC/rocksdb-mbf.git
	branch = adms
